body {
    background-color: rgb(130, 188, 203);
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
form{
    background-color: rgb(232, 195, 244);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: left;
    margin-top: 50px;
    
}
h1{
    text-align: center;
}
.Formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.Formulario button {
    width: 100%;
    padding: 10px;
    background-color: #6e1088;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Añade una transición suave */
}
.Formulario button:hover {
    background-color: #48c1d9; /* Color de fondo cuando se pasa el mouse */
}